<a href="https://colab.research.google.com/github/cbonnin88/InnovateNext-HR_Project/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import polars as pl
import gdown as gd
from datetime import datetime

In [ ]:
url_employees = 'https://drive.google.com/uc?id=1UK96I2hm9S5OtpI_fgQOe77g4Iu75cQc'
url_engagement = 'https://drive.google.com/uc?id=1H3M6bZm6w2vk7NGr0G-4BDawdqRyjQoq'
url_performance = 'https://drive.google.com/uc?id=1XTtjvVBI9Th4eDvzMHy899Sj76fOLU9b'
url_salary = 'https://drive.google.com/uc?id=1xnCb3gbVFZjtpW10U6rPLlI4C8nn3buX'

In [ ]:
gd.download(url_employees,'employees.csv',quiet=True)

'employees.csv'

In [ ]:
gd.download(url_engagement,'engagement.csv',quiet=True)

'engagement.csv'

In [ ]:
gd.download(url_performance,'performance.csv',quiet=True)

'performance.csv'

In [ ]:
gd.download(url_salary,'salaries.csv',quiet=True)

'salaries.csv'

In [ ]:
df_employees = pl.read_csv('employees.csv')
df_salaries = pl.read_csv('salaries.csv')
df_performance = pl.read_csv('performance.csv')
df_engagement = pl.read_csv('engagement.csv')

# **Looking at the messy Data in each dataframe**

In [ ]:
# Employees Data
print('Employee Schema (messy):')
print(df_employees.schema)

Employee Schema (messy):
Schema({'EmployeeID': String, 'FirstName': String, 'LastName': String, 'Department': String, 'Role': String, 'HireDate': String, 'TerminationDate': String, 'Gender': String, 'Location': String})

In [ ]:
print('\nEmployee Data Head (messy):')
display(df_employees.head())

Employee Data Head (messy):

shape: (5, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ EmployeeI ┆ FirstName ┆ LastName  ┆ Departmen ┆ … ┆ HireDate  ┆ Terminati ┆ Gender    ┆ Location │
│ D         ┆ ---       ┆ ---       ┆ t         ┆   ┆ ---       ┆ onDate    ┆ ---       ┆ ---      │
│ ---       ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ ---       ┆ str       ┆ str      │
│ str       ┆           ┆           ┆ str       ┆   ┆           ┆ str       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ E1640     ┆ Joseph    ┆ Étienne   ┆ FINANCE   ┆ … ┆ 30-May-20 ┆ NaN       ┆ Non-Binar ┆ Montpell │
│           ┆           ┆           ┆           ┆   ┆ 18        ┆           ┆ y         ┆ ier      │
│ E1403     ┆ Inès      ┆ Pereira   ┆ Human     ┆ … ┆ 06-Mar-20 ┆ NaN       ┆ Unknown   ┆ Paris    │
│           ┆           ┆           ┆ Resources ┆   ┆ 21        ┆           ┆           ┆          │
│ E1387     ┆ Caroline  ┆ Dias      ┆ hr        ┆ … ┆ 10-Mar-20 ┆ 24-May-20 ┆ Non-Binar ┆ Paris    │
│           ┆           ┆           ┆           ┆   ┆ 23        ┆ 25        ┆ y         ┆          │
│ E1535     ┆ Dorothée  ┆ Dos       ┆ Sales     ┆ … ┆ 01-Dec-20 ┆ NaN       ┆ NaN       ┆ Paris    │
│           ┆           ┆ Santos    ┆           ┆   ┆ 15        ┆           ┆           ┆          │
│ E1252     ┆ Laurent   ┆ Mahe      ┆ Sales     ┆ … ┆ 31-Jan-20 ┆ NaN       ┆ Non-Binar ┆ Paris    │
│           ┆           ┆           ┆           ┆   ┆ 21        ┆           ┆ y         ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
# Salaries Data
print('Salaries Schema (messy):')
print(df_salaries.schema)

Salaries Schema (messy):
Schema({'EmployeeID': String, 'Salary': String, 'Bonus': Float64, 'StockOptions': Int64})

In [ ]:
print('\nSalaries Data Head (messy)')
display(df_salaries.head())

Salaries Data Head (messy)

shape: (5, 4)
┌────────────┬─────────────┬─────────┬──────────────┐
│ EmployeeID ┆ Salary      ┆ Bonus   ┆ StockOptions │
│ ---        ┆ ---         ┆ ---     ┆ ---          │
│ str        ┆ str         ┆ f64     ┆ i64          │
╞════════════╪═════════════╪═════════╪══════════════╡
│ E1031      ┆ €202,772.00 ┆ 9789.02 ┆ 1000         │
│ E1354      ┆ €211,399.00 ┆ 8737.31 ┆ 1000         │
│ E1168      ┆ €200,475.00 ┆ 8238.62 ┆ 1000         │
│ E1200      ┆ €41,405.00  ┆ 1647.93 ┆ 0            │
│ E1910      ┆ €126,968.00 ┆ 3280.14 ┆ 200          │
└────────────┴─────────────┴─────────┴──────────────┘

In [ ]:
# Performance Data
print('Performance Schema (messy):')
print(df_performance.schema)

Performance Schema (messy):
Schema({'EmployeeID': String, 'ReviewYear': Float64, 'PerformanceRating': String, 'Promotion': String})

In [ ]:
print('\nPerformance Data Head (messy)')
display(df_performance.head())

Performance Data Head (messy)

shape: (5, 4)
┌────────────┬────────────┬───────────────────┬───────────┐
│ EmployeeID ┆ ReviewYear ┆ PerformanceRating ┆ Promotion │
│ ---        ┆ ---        ┆ ---               ┆ ---       │
│ str        ┆ f64        ┆ str               ┆ str       │
╞════════════╪════════════╪═══════════════════╪═══════════╡
│ E1923      ┆ 2022.0     ┆ Low               ┆ Yes       │
│ E1659      ┆ 2023.0     ┆ Average           ┆ No        │
│ E1300      ┆ 2022.0     ┆ Average           ┆           │
│ E1960      ┆ 2022.0     ┆ 5                 ┆           │
│ E1993      ┆ 2023.0     ┆ Average           ┆ N/A       │
└────────────┴────────────┴───────────────────┴───────────┘

In [ ]:
# Engagement Data
print('Engagement Schema (messy)')
print(df_engagement.schema)

Engagement Schema (messy)
Schema({'EmployeeID': String, 'SurveyDate': String, 'EngagementScore': Int64, 'ManagerRating': Int64})

In [ ]:
print('\nEngagement Data Head (messy)')
display(df_engagement.head())

Engagement Data Head (messy)

shape: (5, 4)
┌────────────┬────────────┬─────────────────┬───────────────┐
│ EmployeeID ┆ SurveyDate ┆ EngagementScore ┆ ManagerRating │
│ ---        ┆ ---        ┆ ---             ┆ ---           │
│ str        ┆ str        ┆ i64             ┆ i64           │
╞════════════╪════════════╪═════════════════╪═══════════════╡
│ E1001      ┆ 2024-01-15 ┆ 7               ┆ 2             │
│ 1002       ┆ 2023-06-30 ┆ 1               ┆ 2             │
│ E1003      ┆ 2023-06-30 ┆ 8               ┆ 5             │
│ E1004      ┆ 2024-01-15 ┆ 2               ┆ 10            │
│ 1005       ┆ 2024-01-15 ┆ 5               ┆ 6             │
└────────────┴────────────┴─────────────────┴───────────────┘

# **Cleaning df_employees**

In [ ]:
# Cleaning df_employees
display(df_employees.head())

shape: (5, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ EmployeeI ┆ FirstName ┆ LastName  ┆ Departmen ┆ … ┆ HireDate  ┆ Terminati ┆ Gender    ┆ Location │
│ D         ┆ ---       ┆ ---       ┆ t         ┆   ┆ ---       ┆ onDate    ┆ ---       ┆ ---      │
│ ---       ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ ---       ┆ str       ┆ str      │
│ str       ┆           ┆           ┆ str       ┆   ┆           ┆ str       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ E1640     ┆ Joseph    ┆ Étienne   ┆ FINANCE   ┆ … ┆ 30-May-20 ┆ NaN       ┆ Non-Binar ┆ Montpell │
│           ┆           ┆           ┆           ┆   ┆ 18        ┆           ┆ y         ┆ ier      │
│ E1403     ┆ Inès      ┆ Pereira   ┆ Human     ┆ … ┆ 06-Mar-20 ┆ NaN       ┆ Unknown   ┆ Paris    │
│           ┆           ┆           ┆ Resources ┆   ┆ 21        ┆           ┆           ┆          │
│ E1387     ┆ Caroline  ┆ Dias      ┆ hr        ┆ … ┆ 10-Mar-20 ┆ 24-May-20 ┆ Non-Binar ┆ Paris    │
│           ┆           ┆           ┆           ┆   ┆ 23        ┆ 25        ┆ y         ┆          │
│ E1535     ┆ Dorothée  ┆ Dos       ┆ Sales     ┆ … ┆ 01-Dec-20 ┆ NaN       ┆ NaN       ┆ Paris    │
│           ┆           ┆ Santos    ┆           ┆   ┆ 15        ┆           ┆           ┆          │
│ E1252     ┆ Laurent   ┆ Mahe      ┆ Sales     ┆ … ┆ 31-Jan-20 ┆ NaN       ┆ Non-Binar ┆ Paris    │
│           ┆           ┆           ┆           ┆   ┆ 21        ┆           ┆ y         ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
# Getting todays date, will be usefu for the tenure calculation
today_date = datetime.now().date()

In [ ]:
df_employees_clean = df_employees.with_columns(
    # 1. Clean Department strings
    pl.col('Department')
    .str.to_lowercase() # ' sales' -> ' sales'
    .str.strip_chars()   # ' sales' -> 'sales'
    .str.to_titlecase()  #  'sales' -> 'Sales
    .replace('','Unknown') # '' -> 'Unknown'
    .replace('HR','Human Resources')
    .replace('hr','Human Resources')
    .replace('Hr','Human Resources')
    .replace('Nan','Unknown')
    .replace('NaN','Unknown')
    .fill_null('Unknown'), # null -> 'Unknown'

    # 2. Clean Gender
    pl.col('Gender')
    .replace('','Unknown')
    .fill_null('Unknown'),

    # 3. Clean Location
    pl.col('Location').str.strip_chars(),

    # 4. Convert strintg dates to Polars Date type
    # %d-%b-%Y format matches 'dd-Mon-YYYY' (e.g., 15-Mon-2020)
    pl.col('HireDate').str.to_date('%d-%b-%Y'),
    pl.col('TerminationDate').str.to_date('%d-%b-%Y', strict=False) # Add strict=False to handle 'NaN'
).unique(subset=['EmployeeID'], keep='first') # Remove duplicate EmployeeIDs

print('--- Cleaned Employees ---')
display(df_employees_clean.head())

--- Cleaned Employees ---

shape: (5, 9)
┌────────────┬───────────┬──────────┬────────────┬───┬────────────┬───────────┬─────────┬──────────┐
│ EmployeeID ┆ FirstName ┆ LastName ┆ Department ┆ … ┆ HireDate   ┆ Terminati ┆ Gender  ┆ Location │
│ ---        ┆ ---       ┆ ---      ┆ ---        ┆   ┆ ---        ┆ onDate    ┆ ---     ┆ ---      │
│ str        ┆ str       ┆ str      ┆ str        ┆   ┆ date       ┆ ---       ┆ str     ┆ str      │
│            ┆           ┆          ┆            ┆   ┆            ┆ date      ┆         ┆          │
╞════════════╪═══════════╪══════════╪════════════╪═══╪════════════╪═══════════╪═════════╪══════════╡
│ E1023      ┆ Claude    ┆ Renard   ┆ Engineerin ┆ … ┆ 2016-01-24 ┆ null      ┆ Unknown ┆ Nantes   │
│            ┆           ┆          ┆ g          ┆   ┆            ┆           ┆         ┆          │
│ E1647      ┆ Joséphine ┆ Riou     ┆ Finance    ┆ … ┆ 2019-02-08 ┆ null      ┆ Female  ┆ Bordeaux │
│ E1941      ┆ Stéphane  ┆ Rocher   ┆ Sales      ┆ … ┆ 2021-06-26 ┆ null      ┆ Unknown ┆ Bordeaux │
│ E1695      ┆ Alix      ┆ Chauvin  ┆ Unknown    ┆ … ┆ 2016-09-21 ┆ null      ┆ Female  ┆ Bordeaux │
│ E1584      ┆ Vincent   ┆ Gonzalez ┆ Engineerin ┆ … ┆ 2022-08-27 ┆ 2023-12-1 ┆ Female  ┆ Paris    │
│            ┆           ┆          ┆ g          ┆   ┆            ┆ 0         ┆         ┆          │
└────────────┴───────────┴──────────┴────────────┴───┴────────────┴───────────┴─────────┴──────────┘

In [ ]:
print(df_employees_clean.schema)

Schema({'EmployeeID': String, 'FirstName': String, 'LastName': String, 'Department': String, 'Role': String, 'HireDate': Date, 'TerminationDate': Date, 'Gender': String, 'Location': String})

# **Cleaning df_salaries**

In [ ]:
df_salaries_clean = df_salaries.with_columns(
    # Use .str.replace_all() with a regex to remove '€' and ','
    pl.col('Salary')
    .str.replace_all(r'[€,]','') # Remove € and ,
    .cast(pl.Float64) # Cast to float (to keep the cents)
    .round(0) # Round to the nearest euro
    .cast(pl.Int64) # Cast to integer
)

print('--- Cleaned Salaries ---')
display(df_salaries.head())

--- Cleaned Salaries ---

shape: (5, 4)
┌────────────┬─────────────┬─────────┬──────────────┐
│ EmployeeID ┆ Salary      ┆ Bonus   ┆ StockOptions │
│ ---        ┆ ---         ┆ ---     ┆ ---          │
│ str        ┆ str         ┆ f64     ┆ i64          │
╞════════════╪═════════════╪═════════╪══════════════╡
│ E1031      ┆ €202,772.00 ┆ 9789.02 ┆ 1000         │
│ E1354      ┆ €211,399.00 ┆ 8737.31 ┆ 1000         │
│ E1168      ┆ €200,475.00 ┆ 8238.62 ┆ 1000         │
│ E1200      ┆ €41,405.00  ┆ 1647.93 ┆ 0            │
│ E1910      ┆ €126,968.00 ┆ 3280.14 ┆ 200          │
└────────────┴─────────────┴─────────┴──────────────┘

In [ ]:
print(df_salaries.schema)

Schema({'EmployeeID': String, 'Salary': String, 'Bonus': Float64, 'StockOptions': Int64})

# **Cleaning df_engagement**

In [ ]:
df_engagement_clean = df_engagement.with_columns(
    # 1. Standardize EmployeeID
    pl.col('EmployeeID')
    .cast(pl.String) # Cast all to string first
    .map_elements(
        # Prepend 'E'
        lambda x: f'E{x}' if not x.startswith('E') else x,
        return_dtype = pl.String
    ),

    # 2. Clip outliers in scores
    pl.col('EngagementScore').clip(lower_bound=1,upper_bound=10),
    pl.col('ManagerRating').clip(lower_bound=1,upper_bound=10),

    # 3. Fix Date Type
    pl.col('SurveyDate').str.to_date('%Y-%m-%d')
)

print('--- Cleaned Engagement ---')
display(df_engagement_clean.head())

--- Cleaned Engagement ---

shape: (5, 4)
┌────────────┬────────────┬─────────────────┬───────────────┐
│ EmployeeID ┆ SurveyDate ┆ EngagementScore ┆ ManagerRating │
│ ---        ┆ ---        ┆ ---             ┆ ---           │
│ str        ┆ date       ┆ i64             ┆ i64           │
╞════════════╪════════════╪═════════════════╪═══════════════╡
│ E1001      ┆ 2024-01-15 ┆ 7               ┆ 2             │
│ E1002      ┆ 2023-06-30 ┆ 1               ┆ 2             │
│ E1003      ┆ 2023-06-30 ┆ 8               ┆ 5             │
│ E1004      ┆ 2024-01-15 ┆ 2               ┆ 10            │
│ E1005      ┆ 2024-01-15 ┆ 5               ┆ 6             │
└────────────┴────────────┴─────────────────┴───────────────┘

# **Cleaning df_performance**

In [ ]:
# Define the mapping for inconsistent ratings
rating_map = {
    'Low': '1',
    'Average':'3',
    'High':'5',
    'N/A': None # will become null
}

df_performance_clean=df_performance.with_columns(
    # 1. Map string ratings to numbers
    pl.col('PerformanceRating')
    .replace(rating_map)
    .cast(pl.Int64,strict=False), # strict=False turns errors (1,2,etc.) into null

    # 2. Fix ReviewYear type
    pl.col('ReviewYear').cast(pl.Int64, strict=False),

    # 3. Standardize Promotion
    pl.col('Promotion')
    .replace({'N/A':'No','':'No'})
    .fill_null('No')
)

print('--- Cleaned Performance ---')
display(df_performance_clean.head())

--- Cleaned Performance ---

shape: (5, 4)
┌────────────┬────────────┬───────────────────┬───────────┐
│ EmployeeID ┆ ReviewYear ┆ PerformanceRating ┆ Promotion │
│ ---        ┆ ---        ┆ ---               ┆ ---       │
│ str        ┆ i64        ┆ i64               ┆ str       │
╞════════════╪════════════╪═══════════════════╪═══════════╡
│ E1923      ┆ 2022       ┆ 1                 ┆ Yes       │
│ E1659      ┆ 2023       ┆ 3                 ┆ No        │
│ E1300      ┆ 2022       ┆ 3                 ┆ No        │
│ E1960      ┆ 2022       ┆ 5                 ┆ No        │
│ E1993      ┆ 2023       ┆ 3                 ┆ No        │
└────────────┴────────────┴───────────────────┴───────────┘

# **Aggregate, Join and Feature**

In [ ]:
# 1. Aggregate: Get *latest* performance review per employee
df_perf_latest = df_performance_clean.sort('ReviewYear',descending=True).group_by('EmployeeID').first()

# 2. Aggregate: Get *latest* engagement survey per employee
df_eng_latest = df_engagement_clean.sort('SurveyDate',descending=True).group_by('EmployeeID').first()

# **Joining everything to the main employee Table**

In [ ]:
df_final = (
    df_employees_clean
    # Join salaries (one-to-one)
    .join(df_salaries_clean, on='EmployeeID',how='left')
    # Join latest performance (now one-to-one)
    .join(
        df_perf_latest.select(['EmployeeID','PerformanceRating','Promotion']),
        on='EmployeeID',
        how='left'
    )
    # Join latest engagement (now one-to-one)
    .join(
        df_eng_latest.select(['EmployeeID','EngagementScore','ManagerRating']),
        on='EmployeeID',
        how='left'
    )
)

In [ ]:
# Final Feature Engineering
df_final = df_final.with_columns(
    # Create the target variable: Attrition (1 or 0)
    pl.when(pl.col('TerminationDate').is_null())
    .then(0)
    .otherwise(1)
    .alias('Attrition'),

    # Calculate Tenure
    pl.when(pl.col('TerminationDate').is_null())
    .then(
        # Current employee: today - HireDate
        (pl.lit(today_date) - pl.col('HireDate'))
    )
    .otherwise(
        # Former employee: TerminationDate - HireDate
        (pl.col('TerminationDate') - pl.col('HireDate'))
    )
    .dt.total_days()
    .cast(pl.Int64)
    .alias('TenureInDays')
)

In [ ]:
print('--- Final Combined & Cleaned DataFrame ---')
display(df_final.head())
print(f'\nFinal DataFrame shape: {df_final.shape}')

--- Final Combined & Cleaned DataFrame ---

shape: (5, 18)
┌───────────┬───────────┬──────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ EmployeeI ┆ FirstName ┆ LastName ┆ Departmen ┆ … ┆ Engagemen ┆ ManagerRa ┆ Attrition ┆ TenureInD │
│ D         ┆ ---       ┆ ---      ┆ t         ┆   ┆ tScore    ┆ ting      ┆ ---       ┆ ays       │
│ ---       ┆ str       ┆ str      ┆ ---       ┆   ┆ ---       ┆ ---       ┆ i32       ┆ ---       │
│ str       ┆           ┆          ┆ str       ┆   ┆ i64       ┆ i64       ┆           ┆ i64       │
╞═══════════╪═══════════╪══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ E1023     ┆ Claude    ┆ Renard   ┆ Engineeri ┆ … ┆ 3         ┆ 6         ┆ 0         ┆ 3571      │
│           ┆           ┆          ┆ ng        ┆   ┆           ┆           ┆           ┆           │
│ E1647     ┆ Joséphine ┆ Riou     ┆ Finance   ┆ … ┆ 9         ┆ 3         ┆ 0         ┆ 2460      │
│ E1941     ┆ Stéphane  ┆ Rocher   ┆ Sales     ┆ … ┆ 8         ┆ 3         ┆ 0         ┆ 1591      │
│ E1695     ┆ Alix      ┆ Chauvin  ┆ Unknown   ┆ … ┆ 3         ┆ 5         ┆ 0         ┆ 3330      │
│ E1584     ┆ Vincent   ┆ Gonzalez ┆ Engineeri ┆ … ┆ 6         ┆ 10        ┆ 1         ┆ 470       │
│           ┆           ┆          ┆ ng        ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴──────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

Final DataFrame shape: (1001, 18)

In [ ]:
print(df_final.schema)

Schema({'EmployeeID': String, 'FirstName': String, 'LastName': String, 'Department': String, 'Role': String, 'HireDate': Date, 'TerminationDate': Date, 'Gender': String, 'Location': String, 'Salary': Int64, 'Bonus': Float64, 'StockOptions': Int64, 'PerformanceRating': Int64, 'Promotion': String, 'EngagementScore': Int64, 'ManagerRating': Int64, 'Attrition': Int32, 'TenureInDays': Int64})

In [ ]:
df_final.write_csv('master_df.csv')
print('Generated master_df.csv')

Generated master_df.csv